.background {
    background-color: #d1eddd;
    width: 100%; /* 너비를 100%로 설정하여 화면 전체 너비 채우기 */
    height: 100vh;

    opacity: 1; 
    transition: opacity 1s ease; 
}

.login-button, .signup-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

    opacity: 1; 
    transition: opacity 1s ease; 

    
}

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 239, 241);
    padding: 18px 12px;
   
  }

  .textst {
    font-family : "Oswald";
    font-size : x-large;
    color: 'black';
    
  }

  .navbar .left-button {
    margin-right: auto; /* 왼쪽 끝에 버튼을 두고 오른쪽 여백을 최대로 확보합니다. */
  }
  
  .navbar .right-button {
    margin-left: 10px; /* 오른쪽 버튼을 왼쪽으로 10px 떨어뜨립니다. */
  }

  .sqaure {
    display: flex;
    flex-direction: column; /* 자식 요소를 세로로 나열하도록 설정 */
    align-items: center; /* 가운데 정렬 */
    margin-top: 20px;
    width: 100%;
    height: 600px;
    border: 2px solid rgb(50, 45, 45);
    background-color: "white";
    border-radius: 10px;
  }

  .input-field {
    width: 30%;
    height: 10%;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(164, 153, 153);
  }

  .textarea-field {
    width: 80%;
    height: 50%; /* textarea의 높이를 조정하여 중앙에 배치 */
    padding: 8px;
    margin-top: 20px; /* textarea 위 여백 설정 */
    border: 2px solid rgb(224, 192, 192);
  }
  
  .add-button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    border: none;
    background-color: #111213;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

    opacity: 1; 
    transition: opacity 1s ease; 

    
}

.small-square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
  height: 100px;
  margin-top: 20px;
  border: 2px solid rgb(50, 45, 45);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.top-left {
  margin-top: -5px;
  align-self: flex-start;
  text-align: left;
  
}

.bottom-left {
  margin-top: -35px;
  text-align: left;
}

.bottom-right-detail {
  margin-left: auto;
  margin-right: 100px;
  margin-top: -80px;
  text-align: right;
}

.bottom-right-delete {
  margin-left: auto;
  margin-top: -80px;
  text-align: right;
}