.background {
    background-color: #d1eddd;
    width: 100%; /* 너비를 100%로 설정하여 화면 전체 너비 채우기 */
    height: 100vh;
}

.loginbtn {
    color: aqua;
    width: 50px;
    height: 50px;
    background-color: red;
}

.center {
    padding-top : 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}